---
# The name of your project
title: Spring Security SAML

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringSecurity

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-security-saml
      icon: github

    - name: Issues (JIRA)
      url:  http://jira.springsource.org/browse/SES
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.springsource.org/browse/SES
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-saml
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Security]({{site.projects_site_url}}/spring-security)
{% endcapture %}


{% capture billboard_description %}

Spring Security Extension allows seamless combination of SAML 2.0 and other authentication and federation mechanisms in a single application.

{% endcapture %}

{% capture main_content %}

Spring Security SAML Extension allows seamless combination of SAML 2.0 and authentication and federation mechanisms in a single application. All products supporting SAML 2.0 in Identity Provider mode (e.g. ADFS, Okta, Shibboleth, OpenAM, Efecte EIM or Ping Federate) can be used to connect with the extension.

## Features

* Support multiple SAML 2.0 profiles (web single sign-on, web single sign-on holder-of-key, single logout, enhanced client/proxy, etc)
* IDP and SP initialized single sign-on
* Identity provider discovery profile and IDP selection
* Metadata interoperability and PKIX trust management
* Automatic service provider metadata generation
* Metadata loading from files, URLs, file-backed URLs
* Processing and automatic reloading of metadata with many identity providers
* Processing of SAML attributes
* Easy to integrate sample application
* Quick start guides for popular IDPs
* Much more...

<span id="quick-start"></span>
## Quick Start

{% include download_widget.md %}

{% endcapture %}

{% capture related_resources %}

### Resources

* [Quick Start](http://docs.spring.io/spring-security-saml/docs/1.0.0.RELEASE/reference/html/chapter-quick-start.html)
* [Online demo](http://saml-federation.appspot.com)
* [Spring Security]({{site.projects_site_url}}/spring-security)

{% endcapture %}


{% include project_page.html %}
</html>