##
## Velocity Template for Generic Errors
##
## Velocity context may contain the following properties
## message - String - the error message
##
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    #parse ( "/templates/add-html-head-content.vm" )
</head>
<body>
    <p>
        <strong>Error:</strong> A SAML error occurred<br/>
        #if($message)${message}#end
    </p>
    #parse ( "/templates/add-html-body-content.vm" )
</body>
</html>